/* Estilo del encabezado */
.navbar-default {
    background-color: #337ab7; /* Cambia el color de fondo */
    border-color: #2e6da4; /* Cambia el color del borde */
}

.navbar-default .navbar-brand {
    color: #fff; /* Cambia el color del texto del logo */
}

.navbar-nav {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    flex-grow: 1; /* Permite que los elementos del navbar se expandan */
}

/* Estilo de los enlaces del navbar */
.navbar-nav > li {
    margin-right: 10px; /* Espacio entre los elementos del navbar */
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff; /* Cambia el color del texto del logo al pasar el cursor */
}

.navbar-default .navbar-nav > li > a {
    color: #fff; /* Cambia el color del texto del enlace */

}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #eee; /* Cambia el color del texto del enlace al pasar el cursor */
    margin-right: 5%;
}

/* Estilo del jumbotron */
.jumbotron {
    background-color: #f8f8f8; /* Cambia el color de fondo */
    color: #333; /* Cambia el color del texto */
}

.jumbotron h1,
.jumbotron p {
    color: #333; /* Cambia el color del texto dentro del jumbotron */
}

/* Estilo de los artículos */
.col-xs-12 h2 {
    color: #333; /* Cambia el color del título de los artículos */
}

.col-xs-12 p {
    color: #666; /* Cambia el color del texto de los artículos */
}

/* Estilo de la sección de multimedia */
.thumbnail img {
    max-width: 100%; /* Ajusta el tamaño máximo de las imágenes */
}

.thumbnail .caption p {
    color: #333; /* Cambia el color del texto de la descripción */
}

/* Estilo del pie de página */
.footer-basic-centered {
    background-color: #333; /* Cambia el color de fondo */
    color: #fff; /* Cambia el color del texto */
}

.footer-basic-centered .footer-company-motto {
    color: #fff; /* Cambia el color del texto del eslogan */
}

.footer-basic-centered .footer-derechos {
    color: #aaa; /* Cambia el color del texto de los derechos de autor */
}
